@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

body {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  background-color: white;
  justify-content: center;
  font-size: 18px;
  flex-direction: column;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 20px;
}

main {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  background-color: white;
  border-radius: 20px;
}

.left {
  background-color: hsl(241, 81%, 54%);
  border-radius: 5%;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.right {
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 0 20px 10px 20px;
  gap: 10px;
  height: fit-content;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.scores div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

#Result {
  color: white;
  opacity: 0.7;
}

.left-score {
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-score > h1 {
  font-size: 3.5rem;
  color: white;
  margin: 0%;
}

.-leftscore > p {
  color: white;
  opacity: 0.7;
  margin: 0%;
}

.Great {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14rem;
  gap: 15px;
}

.Great > h3 {
  color: white;
  margin: 0;
}
.Great > p {
  color: white;
  text-align: center;
  opacity: 0.5;
  margin: 0%;
}

.reaction {
  background-color: #fff6f5;
  color: hsl(0, 100%, 67%);
  border-radius: 15px;
}

.reaction > *:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  color: hsl(0, 100%, 67%);
}
.reaction > *:last-child {
  display: flex;
  align-items: center;
}

.memory {
  background-color: #fffbf2;
  color: hsl(39, 100%, 56%);
  border-radius: 15px;
}
.memory > *:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  color: hsl(39, 100%, 56%);
}
.memory > *:last-child {
  display: flex;
  align-items: center;
}

.verbal {
  background-color: #f2fbfa;
  color: hsl(166, 100%, 37%);
  border-radius: 15px;
}

.verbal > *:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  color: hsl(166, 100%, 37%);
}
.verbal > *:last-child {
  display: flex;
  align-items: center;
}

.visual {
  background-color: #f3f3fd;
  color: hsl(234, 85%, 45%);
  border-radius: 15px;
}

.visual > *:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  color: hsl(234, 85%, 45%);
}
.visual > *:last-child {
  display: flex;
  align-items: center;
}

.bold-text {
  font-weight: bolder;
  color: #2e2b3e;
}
.faded-text {
  color: #b7b1b7;
  font-weight: bold;
}

p {
  margin: 0%;
}
button {
  background-color: #303b59;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
}
#summary {/* margin: 0%; */
}
@media (max-width: 767px) {
  /* Styles for mobile devices */
  main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 20px;
  }

  body {
    overflow-x: hidden;
    height: 100dvh;
    margin: 0;
    background-color: white;
  }
  .left {
    width: 100vw;
  }
  #result {
    font-size: 1.5rem;
  }
  #summary {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablet devices */
}
@media (min-width: 1025px) {
  /* Styles for desktop devices */
}
